# Mediawerkzeug API Keys
# Kopiere diese Datei zu .env und trage deine Keys ein

TMDB_API_KEY="dein_tmdb_key_hier"
TVDB_API_KEY="dein_tvdb_key_hier"

# Optionaler Flask Secret Key zur Absicherung von Sessions
FLASK_SECRET_KEY="generiere_ein_zufaelliges_secret_hier"

# Entwicklermodus (aktiviert die Ausgabe-Konsole am unteren Bildschirmrand)
MW_DEV_MODE=false
